* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --light-red: #f79996;
  --red: #f05a63;
  --blue: #7be1e1;
  --grey: #b2b2b2;
  --shadow: 0 3px var(--grey);

  /* Game Settings */
  --control-num: 3;
  --maze-size: 400px;
  --maze-num: 4;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--light-red);
  font-family: Arial, sans-serif;
  text-align: center;
}

.Game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

#title {
  font-weight: 400;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 24px;
  color: #fff;
}

.GridShadow {
  padding: 8px;
  border-radius: 14px;
  background: white;
}

.Grid {
  width: var(--maze-size);
  height: var(--maze-size);
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(var(--maze-num), auto);
  grid-template-rows: repeat(var(--maze-num), auto);
  border: 3px solid #000;
}

.cell {
  background-color: var(--blue);
  font-family: "Roboto Mono", monospace;
  border: 3px solid #000;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell p {
  text-align: center;
  font-size: 40px;
  /*font-weight: bold;*/
  line-height: 50px;
  margin: 0;
  width: 50px;
  height: 50px;
  margin: -1px;
}

.active {
  background-color: var(--red);
  color: #000;
  font-weight: 600;
}

button,
.scoreContainer {
  display: block;
  background: var(--light-red);
  border: 3px solid black;
  border-radius: 3px;
  margin: 0;
  padding: 8px 14px;
  fill: var(--red);
  stroke: black;
  stroke-width: 3px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
  height: 50px;
}

.Controls {
  display: grid;
  grid-template-columns: repeat(var(--control-num), auto);
  grid-template-rows: repeat(var(--control-num), auto);
  justify-items: center;
  margin-left: 50px;
}

.Controls #up {
  grid-column-start: 2;
  grid-row-start: 0;
}

.Controls #left {
  grid-column-start: 1;
  grid-row-start: 2;
}

.Controls #right {
  grid-column-start: 3;
  grid-row-start: 2;
}

.Controls #down {
  grid-column-start: 2;
  grid-row-start: 3;
}

.Controls button {
  margin: 20px;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 20px;
  background-color: var(--red);
}

.Controls button:hover {
  color: black;
  background-color: var(--blue);
}

.Controls p {
  text-align: center;
  width: 120px;
  margin-top: 50px;
  font-size: 30px;
  background-color: var(--red);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.scoreContainer {
  font-size: 26px;
  margin: auto;
  width: 200px !important;
  margin-top: 140px;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.scoreContainer span {
  margin: 0 4px;
}

.scoreContainer:hover {
  background-color: var(--blue);
}
